
# venv
venv*
.venv/*

# env file
.env

# vscode stuff
.vscode/
*tempCodeRunnerFile.py

# any .DS_Store file on macOS
.DS_Store

# Sample files are just for myself
*/sample_files/*

# pycache
*__pycache__*/

# emoji_catalogue
config/emoji_catalogue.json